body {
    /* Center and scale the image nicely */
    background: url("../resources/images/forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;
}

.repeat-container {
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.repeat-image {
    height: 60%;
    margin: 3%;
}

.repeat-image:hover{
    height: 90%;
}

.options-container {
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-image {
    height: 68%;
    margin: 5%;
    cursor: pointer;
}

.options-image:hover {
    height: 95%;
}