.hide {
    display: none;
}

#play-btn {
    cursor: pointer;
}

.back-btn {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.next-btn {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 0px;
}

.back-btn-image {
    width: 30%
}

.next-btn-image {
    width: 30%
}